<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>TRACKer</title>
</head>
<body>
<h2>Welcome to TRACKer.</h2>
<br>
{{^username}}
<form action="/login" method="post">
    <input type="text" name="username" placeholder="Username"/>
    <input type="password" name="password" placeholder="Password"/>
    <button type="submit">Login</button>
</form>
{{/username}}

{{#username}}
Hello, {{.}}!
<br>
<form action="/logout" method="post">
    <button type="submit">Logout</button>
</form>



{{/username}}


</body>
</html>